/*ESTILOS DE FORMULARIO*/

#contentRegistro {
    margin-left: 50px;
    margin-right: 50px;
}

#contentRegistro div {
    padding-bottom: 25px;
}

#contentRegistro div h1 {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#formularioRegistro {
    margin-top: 15px;
    text-align: center;
}

#registroForm {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    align-items: center;
}

#registroForm label,input {
    width: 50%;
}

#registroForm label {
    margin-top: 10px;
    padding: 10px;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}

#registroForm input {
    height: 40px;
    border: 0;
    outline: none;
    border-bottom: 3px gray solid;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

#registroForm input:placeholder-shown {
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}

#registroForm button{
    margin-top: 10px;
    height: 50px;
    width: 100px;
    font-size: 19px;
    background-color: black;
    color: white;
    cursor: pointer;
}

#registroForm button:hover{
    font-size: 20px;
}

#contentRegistro a{
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    text-decoration: none;
}

#contentRegistro a:hover{
    color: #000;
    text-decoration: underline;
}